body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.navbar {
    background: linear-gradient(50deg, #70bdc7, #40c7aa);
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border-left: 6px solid #053d3f;
}

.balance-card .amount {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.incomeexpense {
    display: flex;
    gap: 10px;
}

.incomeexpense .card {
    flex: 1;
}

.income-card {
    border-left: 6px solid #90dbdd;
}

.expense-card {
    border-left: 6px solid #90dbdd;
}

.btn-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.btn1-container {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    max-width: 500px;
    /* same width as .app */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    flex: 1;
    padding: 15px;
    border: none;
    background: linear-gradient(50deg, #70bdc7, #40c7aa);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #3fecaa;
}