body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.navbar {
    background: linear-gradient(50deg, #70bdc7, #40c7aa);
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border-left: 6px solid #053d3f;
}

.balance-card .amount {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.incomeexpense {
    display: flex;
    gap: 10px;
}

.incomeexpense .card {
    flex: 1;
}

.income-card {
    border-left: 6px solid #90dbdd;
}

.expense-card {
    border-left: 6px solid #90dbdd;
}

.btn-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.btn1-container {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    max-width: 500px;
    /* same width as .app */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    flex: 1;
    padding: 15px;
    border: none;
    background: linear-gradient(50deg, #70bdc7, #40c7aa);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #3fecaa;
}











/* Full-screen blur background */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(22, 22, 22, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

/* Popup rectangle */
#popup-form {
    background: linear-gradient(10deg, #a58bb4, #93e6d4);
    padding: 30px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    animation: pop 0.4s ease;
}

/* Inputs */
#popup-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: black;
    /* text typed by user */
}

#popup-form input::placeholder {
    color: rgb(0, 0, 0);
    /* placeholder text color */

}

/* Button */
#popup-form button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    background: rgb(241, 241, 241);
    color: white;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

/* Small animation */
@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}