body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

#container {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bgimg.jpg);
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: antiquewhite;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 (0, 0, 0, 0.2), 0 6px 20px 0 (0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    top: 20px;
    position: relative;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;

}

.number,
.empty {
    background-color: azure;
}

.number,
.operator {
    cursor: pointer;
}

.number:active,
.operator:active {
    font-size: 3px;
}

.number:focus,
.operator:focus,
.empty:focus {
    outline: 0;
}


#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    font-size: 30px;
    height: 60px;
    margin: 10px 20px;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: aquamarine;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: chocolate;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: chocolate;
}


button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(26, 61, 179);
}

button:nth-child(20) {
    font-size: 20px;
    background-color: rgb(118, 231, 203);
}